<div>
  <div class="m-3">
    <h3>Buscar por</h3>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="TEAM" (change)="onChangeRadioButton($event)" [checked]="filterBy === 'TEAM'">
      <label class="form-check-label" for="flexRadioDefault1">
        Por nombre de equipo
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="USER" (change)="onChangeRadioButton($event)" [checked]="filterBy === 'USER'">
      <label class="form-check-label" for="flexRadioDefault2">
        Por nombre de usuario
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="BEGGINING_DATE" (change)="onChangeRadioButton($event)" [checked]="filterBy === 'BEGGINING_DATE'">
      <label class="form-check-label" for="flexRadioDefault3">
        Por Fecha de Inicio
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4"  value="FINAL_DATE" (change)="onChangeRadioButton($event)" [checked]="filterBy === 'FINAL_DATE'">
      <label class="form-check-label" for="flexRadioDefault4">
        Por Fecha de Finalización
      </label>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-start my-3">
    <select class="form-select mx-3" aria-label="Default select example" *ngIf="filterBy === 'TEAM' && !loadingTeams" (change)="onTeamChange($event)">
      <option value="0" disabled selected>Buscar por nombre de equipo</option>
      <option [value]="team.id_team" *ngFor="let team of teams">{{ team.name }}</option>
    </select>
    <app-search-bar
      *ngIf="filterBy === 'USER'"
      [textBar]="'Buscar por nombre de usuario...'"
      (changeText)="searchTeamUsersByName($event)"
    ></app-search-bar>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <div *ngIf="filterBy === 'BEGGINING_DATE'">
      <h3>Fecha de Inicio</h3>
      <input type="date" name="" id="" class="my-3" (change)="onChangeBegginingDate($event)">
    </div>
    <div *ngIf="filterBy === 'FINAL_DATE'">
      <h3>Fecha de Finalización</h3>
      <input type="date" name="" id="" class="my-3" (change)="onChangeEndingDate($event)">
    </div>
  </div>
  <button
  type="button"
  class="btn btn-success m-1"
  routerLink="/application/create-movement-teams"
  >
  Agregar
</button>
  <table class="table my-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Equipo</th>
        <th scope="col">Fecha de inicio</th>
        <th scope="col">Fecha de Finalización</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!loadingTeamUsers">
      <tr *ngFor="let team_user of team_users; let i = index;">
        <th scope="row">1</th>
        <td>{{ team_user.User.name  }}</td>
        <td>{{ team_user.Team.name  }}</td>
        <td>{{ getFormatedDate(team_user.beggining_date)  }} </td>
        <td>{{ getFormatedDate(team_user.ending_date) }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary m-1"
            [routerLink]="'/application/movement-teams/' + team_user.id_team_user"
          >
            Editar
          </button>
          <button type="button" class="btn btn-danger m-1">Eliminar</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div *ngIf="!loadingTeamUsers && team_users.length === 0">
    <h3>No hay resultados</h3>
  </div>
  <ng-container *ngIf="loadingTeamUsers">
    <app-loading></app-loading>
  </ng-container>
  <app-pagination [page]="desde" (changePage)="updatePage($event)"></app-pagination>
</div>
