<nav aria-label="Page navigation example" class="d-flex align-items-center justify-content-center">
  <ul class="pagination justify-content-center">
    <li class="page-item " [ngClass]="{'disabled': pagina === 0}" >
      <button class="page-link" (click)="cambiarPagina(false)"  [disabled]="pagina === 0" tabindex="-1" aria-disabled="true">Anterior</button>
    </li>
    <li class="page-item">
      <button class="page-link" (click)="cambiarPagina(true)">Siguiente</button>
    </li>
  </ul>
  </nav>
