<div>
  <app-search-bar [textBar]="'Buscar un equipo...'"  (changeText)="searchUserByName($event)"></app-search-bar>
  <button type="button" class="btn btn-success m-1" routerLink="/application/create-team">Agregar</button>
    <table class="table my-2">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="!loadingTeams">
            <tr *ngFor="let team of teams; let i = index;">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ team.name }}</td>
              <td>
                  <button type="button" class="btn btn-primary m-1" [routerLink]="'/application/teams/' + team.id_team">Editar</button>
                  <button type="button" class="btn btn-danger m-1" (click)="updateIsActiveTeam(team)">{{ (team.is_active) ? 'Deshabilitar' : 'Habilitar' }}</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <ng-container *ngIf="loadingTeams">
        <app-loading></app-loading>
      </ng-container>
      <app-pagination [page]="desde" (changePage)="updatePage($event)"></app-pagination>
</div>
