<body>
	<p class="copyright">Administración MindTeams</p>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="card login-content shadow-lg border-0">
					<div class="card-body">
						<div class="text-center">
							<img class="logo" src="https://cdn3.iconfinder.com/data/icons/galaxy-open-line-gradient-i/200/account-256.png">
						</div>
					<h3 class="text-logo">Iniciar Sesión</h3>
					<br>
					<form class="text-center" ngNativeValidate [formGroup]="forma">
						<input class="form-control border-0" type="" name="" placeholder="Type Your email" formControlName="email">
						<div class="alert alert-danger alert-fix" role="alert"  *ngIf="noValidEmail">
							Email inválido
						</div>
						<br>
						<input class="form-control border-0" type="password" name="" placeholder="Type Your Password" formControlName="password">
						<div class="alert alert-danger alert-fix" role="alert"  *ngIf="passNoValid">
							Password inválido
						</div>
						<br>
						<button class="btn btn-primary btn-sm border-0" type="submit" name="submit" (click)="onLogin()">Iniciar Sesión</button>
						<!-- <p class="forgot"><a href="">Olvidaste la contraseña?</a></p> -->
					</form>
					</div>
					<div class="nomember">
						<p class="text-center">No tienes cuenta? <a routerLink="/create-account">Crea una cuenta</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
