<body>
  <p class="copyright">Administración MindTeams</p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card login-content shadow-lg border-0 h-auto">
          <div class="card-body">
            <div class="text-center">
              <img
                class="logo"
                src="https://cdn3.iconfinder.com/data/icons/galaxy-open-line-gradient-i/200/account-256.png"
              />
            </div>
            <h3 class="text-logo">Crear Cuenta</h3>
            <br />
            <form class="text-center" [formGroup]="forma">
              <input
                class="form-control border-0 my-3"
                type="text"
                formControlName="name"
                name=""
                placeholder="Escribe tu nombre"
              />
              <div class="alert alert-danger alert-fix" role="alert" *ngIf="campoNoEsValido('name')">
                Mínimo 2 carácteres
              </div>
              <input
                class="form-control border-0 my-3"
                type="email"
                name=""
                formControlName="email"
                placeholder="Escribe tu email"
              />
              <div class="alert alert-danger alert-fix" role="alert" *ngIf="campoNoEsValido('email')">
                Email inválido
              </div>
              <input
                class="form-control border-0 my-3"
                type="password"
                name=""
                formControlName="password"
                placeholder="Escribe tu contraseña"
              />
              <div class="alert alert-danger alert-fix" role="alert" *ngIf="campoNoEsValido('password')">
                Contraseña debe ser mayor a 2
              </div>
              <div class="form-control border-0 my-3 form-control-changes text-start">
                  <h5>Nivel de Inglés</h5>
                <div class="form-check" *ngFor="let level of levels">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="id_english_level_f"
                    formControlName="id_english_level_f"
                    [value]="level.id_level"
                    [id]="'level-id-' + level.id_level"
                  />
                  <label class="form-check-label" [for]="'level-id-' + level.id_level">
                    {{ level.name }}
                  </label>
                </div>
                <div class="alert alert-danger alert-fix" role="alert" *ngIf="campoNoEsValido('id_english_level_f')">
                  Nivel de Inglés requerido
                </div>
              </div>
              <input
                class="form-control border-0 my-3"
                type="text"
                name=""
                formControlName="link_cv"
                placeholder="Link CV, Google Doc. (Opcional)"
              />
              <input
              class="form-control border-0 my-3"
              type="text"
              name=""
              formControlName="technical_knoledge"
              placeholder="Escribe tus habilidades técnicas"
            />
              <div class="alert alert-danger alert-fix" role="alert" *ngIf="campoNoEsValido('technical_knoledge')">
                Habilidades técnicas requeridas
              </div>
              <button
                class="btn btn-primary btn-sm border-0 my-3"
                type="submit"
                name="submit"
                (click)="onCreateAccount()"
              >
                Crear Cuenta
              </button>
            </form>
          </div>
          <div class="nomember">
            <p class="text-center">
              Ya tienes cuenta?
              <a routerLink="/">Inicia Sesión</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
